<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Insta Downloader</title>
</head>
<body>
    <nav>
        <div class="page-layout">
            <p>Welcome To Insta Pic</p>
        </div>    
    </nav>        
    <section id= main-content>
        <div class="page-layout">
        <form method="post" style="padding-top: 20px">
            {% csrf_token %}
            <label for="instapic">Enter instagram's post ids separated by commas:</label><br>
            <!-- <input type="text" id="instapic" name="instapic"><br> -->
            <textarea name="instapic" id="instapic" cols="40" rows="10"></textarea>
            <input type="submit" value="Submit">
        </form>
        </div>
    </section>
</body>
</html>
